#firstGemImage {
    height: 100px;
    width: 100px;
}

#secondGemImage {
    height: 100px;
    width: 100px;
}

#thirdGemImage {
    height: 100px;
    width: 100px;
}

#fourthGemImage {
    height: 100px;
    width: 100px;
}

#firstRow {
    font-size: 20px;
}

#winsLosses {
    font-size: 20px;
}

